examples/automatic-ai-reply-when-mentioned-in-a-comment.json
{
  "name": "Automatic AI reply when mentioned in a Liveblocks comment",
  "nodes": [
    {
      "parameters": {
        "events": [
          "commentCreated"
        ],
        "additionalFields": {}
      },
      "type": "CUSTOM.liveblocksTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "55c5a866-a618-4fdb-9d66-d898217f6003",
      "name": "Liveblocks Trigger",
      "webhookId": "9cc66974-aaaf-4720-b557-1267105ca78b",
      "credentials": {
        "liveblocksWebhookSigningSecretApi": {
          "id": "49QSVYMe8ZioziMa",
          "name": "Liveblocks Webhook Signing Secret account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "comment",
        "operation": "getComment",
        "roomId": "={{ $json.event.data.roomId }}",
        "threadId": "={{ $json.event.data.threadId }}",
        "commentId": "={{ $json.event.data.commentId }}"
      },
      "type": "CUSTOM.liveblocks",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "id": "1a0c859b-7ea5-4198-a861-83f6df0afbaf",
      "name": "Get a comment",
      "credentials": {
        "liveblocksApi": {
          "id": "aSBO1Lf4YrGYH0Qq",
          "name": "Liveblocks account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3a4b15ca-e141-4096-8081-bbe359f59733",
              "leftValue": "={{ $json.mentionedUserIds }}",
              "rightValue": "__AI_AGENT",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        0
      ],
      "id": "73646402-4f8b-4817-af91-4b88242c9cef",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "getThread",
        "roomId": "={{ $json.roomId }}",
        "threadId": "={{ $json.threadId }}"
      },
      "type": "CUSTOM.liveblocks",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "e53009ce-0aa9-4630-a728-49c6f6755c2e",
      "name": "Get a thread",
      "credentials": {
        "liveblocksApi": {
          "id": "aSBO1Lf4YrGYH0Qq",
          "name": "Liveblocks account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant that can reply to comments in a thread. You have been mentioned in the latest comment and must reply.\n\nHere is the entire thread:\n\n```\n{{ JSON.stringify($json.comments, null, 2) }}\n```\n\nYou were mentioned in the last comment. Write your reply as a string.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        0
      ],
      "id": "50982aa6-8fc1-4f33-bb9a-e1b8860dc462",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        800,
        176
      ],
      "id": "9d18bb25-fa44-4238-807e-0b1685883d09",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "TLoCIyCNiIGbje8U",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "comment",
        "roomId": "={{ $('Get a comment').item.json.roomId }}",
        "threadId": "={{ $('Get a comment').item.json.threadId }}",
        "createComment_userId": "__AI_AGENT",
        "createComment_bodyMode": "plainText",
        "createComment_bodyText": "={{ $json.output }}"
      },
      "type": "CUSTOM.liveblocks",
      "typeVersion": 1,
      "position": [
        1136,
        0
      ],
      "id": "7d6ea1ce-ecd4-4a1c-8490-a5915c95d4d6",
      "name": "Create a comment",
      "credentials": {
        "liveblocksApi": {
          "id": "aSBO1Lf4YrGYH0Qq",
          "name": "Liveblocks account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Fetch thread and generate\nIf `true`, fetch the entire comment thread, pass it to AI so it understands the full context, and ask it to write up a response.",
        "height": 432,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        -112
      ],
      "id": "d414863b-9cf3-4e28-9888-a4ea6553dd67",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Automatic AI reply when mentioned in a Liveblocks comment\n \nThis example uses [Liveblocks Comments](https://liveblocks.io/comments), collaborative commenting components for React. When an AI assistant is mentioned in a thread  (e.g. \"@AI Assistant\"), it will automatically leave a response.\n\nUsing [webhooks](https://liveblocks.io/docs/platform/webhooks), this workflow is triggered when a comment is created in a thread. If the agent's ID (`\"__AI_AGENT\"`) was mentioned, an AI agent is given the entire thread context, and asked to create a response. This response is then added, and users will see it appear in their apps in real time.\n\n### Setup\nThis workflow requires a Comments app installed and webhooks set up in the Liveblocks dashboard. You can try it with a demo application:\n\n- [ ] Download the [Next.js comments example](https://liveblocks.io/examples/comments/nextjs-comments), and run it with a secret key.\n- [ ] Find `database.ts` inside the example and uncomment the AI assistant user.\n- [ ] Insert the secret key from the project into n8n nodes: \"Get a comment\", \"Get a thread\", \"Create a comment\".\n- [ ] Go to the [Liveblocks dashboard](https://liveblocks.io/dashboard), open your project and go to \"Webhooks\". Create a new webhook in your project using a placeholder URL, and selecting \"commentCreated\" events.\n- [ ] Copy your webhook secret from this page and paste it into the \"Liveblocks Trigger\" node.\n- [ ] Expose the webhook URL from the trigger, for example with `localtunnel` or `ngrok`. Copy the production URL from the \"Liveblocks Trigger\" and replace `localhost:5678` with the new URL.\n- [ ] Your workflow is now set up! Tag @AI Assistant in the application to trigger it.\n\n#### Localtunnel\nThe easiest way to expose your webhook URL:\n`npx localtunnel --port 5678 --subdomain your-name-here`\n\nThis creates a URL like:\n`https://honest-months-fix.loca.lt`\n\nThe URL you need for the dashboard looks like this:\n`https://honest-months-fix.loca.lt/webhook/9cc66974-aaaf-4720-b557-1267105ca78b/webhook`\n",
        "height": 944,
        "width": 502
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        -112
      ],
      "id": "016a250a-59d2-4cf0-9847-803b08bc9af6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Comment created\nWhen a comment is created in a room.",
        "height": 272,
        "width": 230,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -112
      ],
      "id": "8bac501d-631f-43dc-aafa-7ebecaed2535",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Check if AI mentioned\nCheck if a comment mentions the AI agent. Their ID is `\"__AI_AGENT\"` in this demo.",
        "height": 272,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        -112
      ],
      "id": "00f027b5-c4cb-4643-b0b7-ebe4d80a075d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Add response to thread\nThe response is then added as a comment in the same thread. The user ID is set to `\"__AI_AGENT\"`.",
        "height": 272,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        -112
      ],
      "id": "85d1fc00-7999-4328-a19d-810167084e2e",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Liveblocks Trigger": {
      "main": [
        [
          {
            "node": "Get a comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a comment": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d37e40e2-49e8-470e-8a13-c687497a2d3a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdd58b028250e4811c462e28c5cbca067bcbfe46a2f4e6fd38647ade19e87602"
  },
  "id": "1_j9-Bxn13fiv-hp8cAeG",
  "tags": []
}