examples/modify-liveblocks-storage-with-json-patch.json
{
  "name": "Modify Liveblocks Storage with JSON Patch",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -32
      ],
      "id": "6e1dccd1-9468-4674-8d5b-ca7a6d97eada",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "createRoom",
        "createRoom_id": "={{ $execution.id }}",
        "createRoom_defaultAccesses": "={{ [] }}"
      },
      "type": "CUSTOM.liveblocks",
      "typeVersion": 1,
      "position": [
        16,
        -32
      ],
      "id": "24255aba-7d7d-417a-9890-4da3962fec00",
      "name": "Create a room",
      "credentials": {
        "liveblocksApi": {
          "id": "FhEma6I53jlObzT2",
          "name": "Liveblocks account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "storage",
        "operation": "patchStorageDocument",
        "roomId": "={{ $json.id }}",
        "body": "[\n  {\n    \"op\": \"add\",\n    \"path\": \"/shapes\",\n    \"value\": [\n      {\n        \"id\": \"rect-1\",\n        \"type\": \"rectangle\",\n        \"x\": 100,\n        \"y\": 150,\n        \"width\": 200,\n        \"height\": 100,\n        \"color\": \"#ff0000\"\n      },\n      {\n        \"id\": \"circle-1\",\n        \"type\": \"circle\",\n        \"x\": 300,\n        \"y\": 200,\n        \"radius\": 50,\n        \"color\": \"#00ff00\"\n      }\n    ]\n  }\n]"
      },
      "type": "CUSTOM.liveblocks",
      "typeVersion": 1,
      "position": [
        208,
        -32
      ],
      "id": "4a11137e-f359-4c83-9718-502c01ecf18d",
      "name": "Patch room storage",
      "credentials": {
        "liveblocksApi": {
          "id": "FhEma6I53jlObzT2",
          "name": "Liveblocks account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a JSON patch generatgor. All you return is JSPN patch operations. Here is the current document:\n\n```\n{{ JSON.stringify($json.shapes, null, 2) }}\n```\n\nHere is how you must modify the document:\n\n\"\"\"\nAdd a blue circle, and make the square orange. \n\"\"\"\n\nApply this change to `/shapes`.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        -32
      ],
      "id": "43afa742-6fe4-4071-a86b-1d6e4307d396",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "storage",
        "operation": "getStorageDocument",
        "roomId": "={{ $execution.id }}",
        "q_getStorageDocument_format": "json"
      },
      "type": "CUSTOM.liveblocks",
      "typeVersion": 1,
      "position": [
        400,
        -32
      ],
      "id": "5bfc5dd6-0439-4365-9faf-60ecca8405a2",
      "name": "Get room storage",
      "credentials": {
        "liveblocksApi": {
          "id": "FhEma6I53jlObzT2",
          "name": "Liveblocks account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        592,
        176
      ],
      "id": "443bd8f9-2d50-451a-ada7-4d797906009c",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "TLoCIyCNiIGbje8U",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "storage",
        "operation": "patchStorageDocument",
        "roomId": "={{ $execution.id }}",
        "body": "={{ $json.output }}"
      },
      "type": "CUSTOM.liveblocks",
      "typeVersion": 1,
      "position": [
        912,
        -32
      ],
      "id": "f4daa4dd-4106-46f2-82e8-8c91e75bada5",
      "name": "Patch room storage1",
      "credentials": {
        "liveblocksApi": {
          "id": "FhEma6I53jlObzT2",
          "name": "Liveblocks account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"op\": {\n        \"type\": \"string\",\n        \"enum\": [\"add\", \"remove\", \"replace\"]\n      },\n      \"path\": {\n        \"type\": \"string\"\n      },\n      \"value\": {}\n    },\n    \"required\": [\"op\", \"path\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        736,
        176
      ],
      "id": "91207bbf-a8c3-4424-90f4-f2f65700b5a7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "storage",
        "operation": "getStorageDocument",
        "roomId": "={{ $execution.id }}",
        "q_getStorageDocument_format": "json"
      },
      "type": "CUSTOM.liveblocks",
      "typeVersion": 1,
      "position": [
        1104,
        -32
      ],
      "id": "2b0083c0-9367-45b3-9a1e-4adc057dde49",
      "name": "Get room storage1",
      "credentials": {
        "liveblocksApi": {
          "id": "FhEma6I53jlObzT2",
          "name": "Liveblocks account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Modify Liveblocks Storage with JSON Patch\n\nThis example uses [Liveblocks Storage](https://liveblocks.io/docs/ready-made-features/multiplayer/sync-engine/liveblocks-storage), a sync engine created by [Liveblocks](https://liveblocks.io) that allows you to create collaborative applications like Figma, Pitch, and Spline. When we fetch the Storage value for a [room](https://liveblocks.io/docs/concepts#Rooms), we're fetching the state of the multiplayer document which users are collaborating on.   \n\nIn this workflow example, our document holds a list of shapes, like a drawing tool. Here's a rectangle, for example:\n\n```\n{\n  \"id\": \"rect-1\",\n  \"type\": \"rectangle\",\n  \"x\": 100,\n  \"y\": 150,\n  \"width\": 200,\n  \"height\": 100,\n  \"color\": \"#ff0000\"\n}\n```\n\nPicture this hooked up to a design tool like Figma, with the user asking AI to edit their document.\n\nIn these nodes, to generates a [JSON Patch](https://liveblocks.io/docs/guides/modifying-storage-via-rest-api-with-json-patch) operation from the user's request (\"Add a blue circle, and make the square orange\") and applies it to the collaborative document. \n\nAs soon as the JSON Patch operation has run, each user's design tool in their web browser will update with the changes in real time.\n\nAdditionally, we're setting presence in the room, which means that the AI will appear in the document's live avatar stacks while it works, before disappearing shortly after.",
        "height": 880,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        -336
      ],
      "id": "890b299e-fc1d-450b-9d11-4f508085f668",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Creating a multiplayer room and initializing it with a Storage value. In a real app, this will already be created.",
        "height": 80,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        -144
      ],
      "id": "755f766e-03ef-4a68-9c38-ffd3df1e2f98",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "**The important part.** Getting the full Storage value, passing it to AI, and asking it to run a user query on the data. The AI is told to return JSON Patch operations, and is then applied to Storage. On the front end, the room updates in real time.",
        "height": 80,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -144
      ],
      "id": "cb17c385-0125-421a-81d4-643267f0bf67",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Checking the final value after applying the operation.",
        "height": 80,
        "width": 214
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        -144
      ],
      "id": "8c76fbef-ee98-4f95-a3e9-735e395aeb11",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "setPresence",
        "roomId": "={{ $execution.id }}",
        "setPresence_userId": "__AI_AGENT",
        "setPresence_userInfo": "{\n  \"name\": \"AI Assistant\",\n  \"avatar\": \"https://liveblocks.io/api/avatar?u=__AI_AGENT&agent=true\"\n}",
        "setPresence_ttl": null
      },
      "type": "CUSTOM.liveblocks",
      "typeVersion": 1,
      "position": [
        400,
        448
      ],
      "id": "b4e7c6eb-7cd7-4330-b9ce-c629e87ab06c",
      "name": "Set presence in a room",
      "credentials": {
        "liveblocksApi": {
          "id": "FhEma6I53jlObzT2",
          "name": "Liveblocks account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Show AI presence in the app's avatar stack.",
        "height": 80,
        "width": 214
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        336
      ],
      "id": "5444c0cb-e9a4-4282-bdc2-1906e0fb0f29",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "setPresence",
        "roomId": "={{ $execution.id }}",
        "setPresence_userId": "__AI_AGENT",
        "setPresence_userInfo": "{\n  \"name\": \"AI Assistant\",\n  \"avatar\": \"https://liveblocks.io/api/avatar?u=__AI_AGENT&agent=true\"\n}",
        "setPresence_ttl": 2
      },
      "type": "CUSTOM.liveblocks",
      "typeVersion": 1,
      "position": [
        912,
        448
      ],
      "id": "2721aedc-d0cf-484c-8243-671837003c22",
      "name": "Set presence in a room1",
      "credentials": {
        "liveblocksApi": {
          "id": "FhEma6I53jlObzT2",
          "name": "Liveblocks account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Tell the AI presence to expire in 2 seconds.",
        "height": 80,
        "width": 214
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        336
      ],
      "id": "09fb8445-f8f9-4e20-a89c-c88ffda91626",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create a room",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a room": {
      "main": [
        [
          {
            "node": "Patch room storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch room storage": {
      "main": [
        [
          {
            "node": "Get room storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get room storage": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set presence in a room",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Patch room storage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Patch room storage1": {
      "main": [
        [
          {
            "node": "Get room storage1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set presence in a room1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "15d8cbdb-7e74-4dc9-a40c-aea2ba38cb2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdd58b028250e4811c462e28c5cbca067bcbfe46a2f4e6fd38647ade19e87602"
  },
  "id": "siRmitBmFbvNMw_elDq6R",
  "tags": []
}